.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  background-color: #ceabab;
  border-bottom: 1px solid var(--secondary);
  align-items: center;
  position: relative;
  height: fit-content;
}

/* Logo */
.logo {
  height: 100px;
  width: 150px;
  object-fit: contain;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

/* Auth buttons */
.auth-btns {
  display: flex;
  align-items: center;
}

.auth-btns button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
}

/* Buttons */
.login {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--primary);
}

.register {
  background: var(--primary);
  color: white;
}

/* ========================= */
/* Hamburger (hidden default) */
/* ========================= */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ========================= */
/* Tablet (768px and below) */
/* ========================= */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  /* Hide nav by default */
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--secondary);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  /* Hide buttons inside menu */
  .auth-btns {
    display: none;
  }
}

/* ========================= */
/* Mobile (480px and below) */
/* ========================= */
@media (max-width: 480px) {
  .logo {
    height: 55px;
    width: 55px;
  }

  .nav-links {
    width: 100%;
    right: 0;
    text-align: center;
  }

  .nav-links a {
    padding: 10px 0;
  }
}
